@model int;

@{
    ViewData["Title"] = "Home Page";
}

<div class="max-w-2xl mx-auto flex flex-col">
    <div class="pb-20 mx-auto flex flex-col items-center text-center">
        <h1 class="font-sans text-4xl tracking-wide">Hi People</h1>
        <h1 class="font-sarif text-4xl tracking-wide">Welcome to <span class="text-red-600 font-bold underline">Sean</span> and <span class="text-blue-600 font-bold underline">Anna-Maria</span> </h1>
        <h1 class="font-sans text-4xl tracking-wide pb-10">Wedding event</h1>
        <div class="">
            <a asp-action="RSVPform" class="bg-red-600 text-white py-3 text-xl px-7">Please fill the form</a>
        </div>
    </div>

    <div class="">
        <h1 class="font-sans text-xl text-gray-500 ">Currently have <span class="font-bold underline"><strong>@Model.ToString("c")</strong></span> donated</h1>
    </div>

</div>