@model RSVPinvites.Models.RSVPinvite;


@{
    ViewData["Title"] = "Guest Not Coming";
}

<div class="container max-w-3xl mx-auto flex flex-col items-center">
    <h1 class="font-sans text-2xl">Thanks <span class="font-bold underline">@Model.Name</span> with your donations</h1>
    <h1 class="font-sans text-2xl">So sad, you'll not be there, ADIOS!</h1>
</div>